DATABASE_URL="postgresql://postgres:TU_CONTRASEÑA@localhost:5432/totora_viva"
JWT_SECRET="totora_viva_super_secret_jwt_key_2024"
JWT_EXPIRES_IN="7d"
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
WEBPAY_COMMERCE_CODE=597055555532
WEBPAY_API_KEY=579B532A7440BB0C9079DED94D31EA1615BACEB56610332264630D42D0A36B1C
WEBPAY_ENV=integration